* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Setup Main Color Style*/

body {
  background-color: black;
  color: white;
}

/*set stuck nav*/

header {
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 9999;
}

/*nav deco start*/

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0 20px 0;
}

header nav a {
  text-decoration: none;
  color: rgba(140, 210, 250, 1);
  text-shadow: 1px 1px rgba(140, 210, 250, 0.7);
  font-size: 1.25em;
}

header nav h1 {
  font-size: 3.125em;
  font-family: "Courier New", Courier, monospace;
}

header nav h1 span {
  margin-left: 30px;
} /*nav deco end*/

/*section one styles start*/
.main-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 200px;
  margin-top: 50px;
}

.main-hero h2 {
  font-size: 6.25em;
  color: rgb(175, 175, 175);
  margin: 20px 20px 20px 60px;
  flex: 1 50%;
}

.main-hero div {
  flex: 1 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-content: center;
}

.main-hero div img {
  border-radius: 50%;
  flex: 1 15%;
  margin: 0 40px 0 20px;
}

.main-hero div p {
  font-size: 1.125em;
  margin: auto 40px;
} /*section one styles end*/

/*section two styles start*/

.drive {
  flex-direction: row-reverse;
}

.drive h2 {
  margin-right: 40px;
  text-align: right;
  flex: 1 10%;
}

.drive div {
  flex: 1 20%;
}

.drive img {
  border-radius: 100px;
  flex: 0 1 15%;
  height: 500px;
  width: 500px;
} /*section two styles end*/

/*project styles start*/

.project-title {
  font-size: 6.25em;
  color: rgb(175, 175, 175);
  text-align: center;
  margin: 0 auto 40px auto;
  border-bottom: 2px solid rgb(175, 175, 175);
  width: 30%;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex: 1 50%;
}

.projects a img {
  height: 400px;
  width: 700px;
  margin: 20px 0;
}

/*making first project bigger*/

.projects :first-child img {
  width: 1200px;
  height: 600px;
  flex: 1 100%;
}

/*setup for hover and project title*/

.projects a:before {
  content: "";
  position: absolute;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid white;
  font-size: 6.25em;
  text-align: center;
  opacity: 0;
  height: 280px;
  width: 700px;
  padding-top: 140px;
  z-index: 0;
}

/*hover for future projects*/

.projects a:hover::before {
  content: "Coming Soon";
  opacity: 1;
  transition: opacity 1s;
}

/*set project 2 hover title*/

.projects :nth-child(2):hover::before {
  content: "Horiseon";
  opacity: 1;
  transition: opacity 1s;
}

.projects :nth-child(3):hover::before {
  content: "Buzzed Rocket";
  opacity: 1;
  transition: opacity 1s;
}

.projects :nth-child(4):hover::before {
  content: "Bring the Tech";
  opacity: 1;
  transition: opacity 1s;
}

/*setup for hover/title*/

.projects :first-child::before {
  content: "";
  position: absolute;
  width: 1200px;
  height: 400px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid white;
  font-size: 6.25em;
  text-align: center;
  padding: 220px 0 0 0;
  opacity: 0;
  z-index: 0;
}

/*set project one hover title*/

.projects :first-child:hover::before {
  content: "Run Buddy Project";
  opacity: 1;
  transition: opacity 1s;
} /*project styles end*/

/*most changes to mobile responsive was resizing with little positioning changes*/

@media screen and (max-width: 980px) {
  :root {
    font-size: 13px;
  }

  .main-hero h2 {
    text-align: center;
  }

  .main-hero div {
    justify-content: center;
  }

  .main-hero div img {
    flex: 0 1 50%;
    margin: 10px;
  }

  .drive h2 {
    margin: 10px;
  }

  .drive img {
    flex: 0 1 50%;
  }

  .projects :first-child img {
    height: 500px;
    width: 800px;
  }

  .projects :first-child::before {
    height: 300px;
    width: 800px;
  }
}

@media screen and (max-width: 768px) {
  .projects :first-child img {
    height: 300px;
    width: 600px;
  }

  .projects :first-child::before {
    height: 300px;
    width: 600px;
    padding-top: 20px;
  }

  .projects a img {
    height: 200px;
    width: 500px;
  }

  .projects a::before {
    height: 170px;
    width: 500px;
    padding-top: 50px;
  }
}

@media screen and (max-width: 575px) {
  header nav a {
    padding: 15px;
  }

  .projects :first-child img {
    width: 450px;
  }

  .projects :first-child::before {
    width: 450px;
  }

  .projects a img {
    width: 375px;
  }

  .projects a::before {
    width: 375px;
  }
}
